<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllGram.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>10</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>44DFAFC4D0A2050FC5B021864E1A89CABAF08B60</string>
				<key>dateExpires</key>
				<string>13.05.2023</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44DFAFC4D0A2050FC5B021864E1A89CABAF08B60</string>
						<key>dateExpires</key>
						<string>13.05.2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SB3RMSAWRB</string>
						<key>name</key>
						<string>Allgram LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44DFAFC4D0A2050FC5B021864E1A89CABAF08B60</string>
						<key>dateExpires</key>
						<string>13.05.2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Cryptor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SB3RMSAWRB</string>
						<key>name</key>
						<string>Allgram LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.32</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44DFAFC4D0A2050FC5B021864E1A89CABAF08B60</string>
						<key>dateExpires</key>
						<string>13.05.2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CryptorECC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SB3RMSAWRB</string>
						<key>name</key>
						<string>Allgram LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44DFAFC4D0A2050FC5B021864E1A89CABAF08B60</string>
						<key>dateExpires</key>
						<string>13.05.2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CryptorRSA.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SB3RMSAWRB</string>
						<key>name</key>
						<string>Allgram LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.200</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44DFAFC4D0A2050FC5B021864E1A89CABAF08B60</string>
						<key>dateExpires</key>
						<string>13.05.2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GZIP.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SB3RMSAWRB</string>
						<key>name</key>
						<string>Allgram LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44DFAFC4D0A2050FC5B021864E1A89CABAF08B60</string>
						<key>dateExpires</key>
						<string>13.05.2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JitsiMeetSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SB3RMSAWRB</string>
						<key>name</key>
						<string>Allgram LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>3.10.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44DFAFC4D0A2050FC5B021864E1A89CABAF08B60</string>
						<key>dateExpires</key>
						<string>13.05.2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>KituraContracts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SB3RMSAWRB</string>
						<key>name</key>
						<string>Allgram LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44DFAFC4D0A2050FC5B021864E1A89CABAF08B60</string>
						<key>dateExpires</key>
						<string>13.05.2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LoggerAPI.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SB3RMSAWRB</string>
						<key>name</key>
						<string>Allgram LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.9.200</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44DFAFC4D0A2050FC5B021864E1A89CABAF08B60</string>
						<key>dateExpires</key>
						<string>13.05.2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Logging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SB3RMSAWRB</string>
						<key>name</key>
						<string>Allgram LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44DFAFC4D0A2050FC5B021864E1A89CABAF08B60</string>
						<key>dateExpires</key>
						<string>13.05.2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MatrixSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SB3RMSAWRB</string>
						<key>name</key>
						<string>Allgram LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.20.16</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44DFAFC4D0A2050FC5B021864E1A89CABAF08B60</string>
						<key>dateExpires</key>
						<string>13.05.2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>OLMKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SB3RMSAWRB</string>
						<key>name</key>
						<string>Allgram LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>3.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44DFAFC4D0A2050FC5B021864E1A89CABAF08B60</string>
						<key>dateExpires</key>
						<string>13.05.2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SB3RMSAWRB</string>
						<key>name</key>
						<string>Allgram LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>10.16.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44DFAFC4D0A2050FC5B021864E1A89CABAF08B60</string>
						<key>dateExpires</key>
						<string>13.05.2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Reusable.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SB3RMSAWRB</string>
						<key>name</key>
						<string>Allgram LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44DFAFC4D0A2050FC5B021864E1A89CABAF08B60</string>
						<key>dateExpires</key>
						<string>13.05.2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftJWT.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SB3RMSAWRB</string>
						<key>name</key>
						<string>Allgram LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>3.6.200</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44DFAFC4D0A2050FC5B021864E1A89CABAF08B60</string>
						<key>dateExpires</key>
						<string>13.05.2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyBeaver.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SB3RMSAWRB</string>
						<key>name</key>
						<string>Allgram LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.9.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44DFAFC4D0A2050FC5B021864E1A89CABAF08B60</string>
						<key>dateExpires</key>
						<string>13.05.2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>WebRTC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SB3RMSAWRB</string>
						<key>name</key>
						<string>Allgram LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>44DFAFC4D0A2050FC5B021864E1A89CABAF08B60</string>
						<key>dateExpires</key>
						<string>13.05.2023</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>libbase58.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>SB3RMSAWRB</string>
						<key>name</key>
						<string>Allgram LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.4</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>SB3RMSAWRB.com.allgram.Allgram</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>SB3RMSAWRB</string>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.Allgram.allgram</string>
				</array>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>SB3RMSAWRB.allgram.keychain</string>
				</array>
			</dict>
			<key>name</key>
			<string>AllGram.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a933cc1a-8e44-470e-81f3-9a464b98fe77</string>
				<key>dateExpires</key>
				<string>13.05.2023</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.allgram.Allgram</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>SB3RMSAWRB</string>
				<key>name</key>
				<string>Allgram LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.2.0</string>
		</dict>
	</array>
</dict>
</plist>
